<h1>Note Edit</h1>
<form class="form-wrap" method="post" action="/notes{{#if note._id}}/{{note._id}}{{/if}}" enctype="application/x-www-form-urlencoded">
	{{#if note._id}}
		<input type="hidden" name="_method" value="put">
	{{/if}}
	<input type="hidden" id="inpDone" name="inpDone" value="{{note.done}}">
	<input type="hidden" id="inpDue" name="inpDue" value="{{note.inpDue}}" class="js-date">

	<div class="form-row form-required">
		<label class="form-label-text" for="inpTitle">Notiztitel</label>
		<input type="text" name="inpTitle" id="inpTitle" placeholder="Titel" required value="{{note.title}}" maxlength="200">
	</div>

	<div class="form-row">
		<label class="form-label-text" for="inpDescription">Notizbeschreibung</label>
		<textarea name="inpDescription" id="inpDescription" cols="80" rows="5" maxlength="2000" placeholder="Beschreibung" required>{{note.text}}</textarea>
	</div>

	<div class="form-row">
		<fieldset>
			<legend class="form-label-group">Wichtigkeit</legend>
			<div class="form-radio">
				<div class="line">
					<div class="col">
						{{#if note.importance}}
							{{{importanceCheckedHelper note.importance}}}
						{{else}}
							{{{importanceCheckedHelper 0}}}
						{{/if}}
					</div>
				</div>
			</div>
		</fieldset>
	</div>

	<div class="form-row form-row-date form-required">
		<label class="form-label-text" for="inpDue">Erledigt bis</label>
		<input class="form-date js-dp" type="text" name="inpDueDp" id="inpDueDp" placeholder="tt.mm.jjjj" required value="{{dateFormat note.dueDate}}" maxlength="10" readonly>
		<i class="input-icon icon-calendar"></i>
	</div>

	<div class="form-row">
		<div class="form-input">
			<p class="form-hint">Pflichtfeld</p>
		</div>
	</div>

	<div class="form-row form-row-extra">
		<div class="form-input">
			<button class="btn btn-submit" type="submit">
				<i class="icon-floppy-disk"></i>
				<span>Speichern</span>
			</button>
		</div>
	</div>

	<div class="form-row">
		<div class="form-input">
			<a href="/" class="btn btn-cancel">
				<i class="icon-cross"></i>
				<span>Abbrechen</span>
			</a>
		</div>
	</div>
</form>
